.buidling-editor-toolbar{
	height: 39px;
}
.buidling-editor-toolbar label#addSwitchLabel {
	vertical-align: bottom;
	line-height: 38px;
}
.buidling-editor-toolbar span#switchcombo {
	display: inline-block;
	vertical-align: middle;
}
.buidling-editor-container {
	margin: 0;
	padding: 0;
	background-color: #353535;
	border: 1px solid #a0a0a0;
	width: 1011px;
	height: 676px;
	position: relative;
	box-sizing: border-box
}
.wlan-editor-container{
	width: 1366px;
	height: 768px;
}
svg.ZSYFCEditor {
	background: url(../images/building.png);
	border: none;
	position: absolute;
	left: 0;
	top: 0;
}
.wlan-editor-container svg.ZSYFCEditor {
	background: url(../images/wlan_bg.png); 
}
.buidling-editor-container text.title {
	fill: #fff;
	text-anchor: middle;
}
.buidling-editor-toolbar > *{
	float: left;
	margin: 0 5px;
}
.buidling-editor-toolbar .stc-box {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #555555;
	font-size: 14px;
	outline: 0;
}
.buidling-editor-toolbar .stc-button {
	border: none;
	border-left: 1px solid #aaa;
}
.buidling-editor-toolbar .stc-input { 
  padding: 6px 5px;
}

.buidling-editor-toolbar .stc-lc td{
	padding: 5px 6px;
}