body{
	background-color: rgb(37,37,37);
}
body.ZSYFCEditor_shape_moving{
	cursor: move;
}
body.ZSYFCEditor_link_moving{
	cursor: default;
}
.jppopuppanel.modify_title{
	margin-top: 10px;
	margin-left: -80px;
	width: 160px;
}
.jppopuppanel.modify_title input{
	padding: 3px 5px;
	width: 90%;
	margin: 0 auto;
	color: #000;
}
.ZSYFCEditor-btnbar{
	padding: 0;
	margin: 0; 
	height: 32px;
	line-height: 32px;
	width: 1000px; 
	box-sizing: border-box; 
}
.ZSYFCEditor-btnbar span.btn{
	display: inline-block;
	min-width: 36px;
	height: 30px;
	line-height: 30px;
	margin: 0; 
	cursor: pointer; 
	overflow: hidden;
	border: 1px solid #efefef;
	padding: 0;
	background: url(../images/editor-icon.png);
	border-radius: 0 !important; 
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	float: left;
	margin-left: -1px;
}
.ZSYFCEditor-btnbar span.btn.dragMode{
	background-position: -190px -5px;
}
.ZSYFCEditor-btnbar span.btn.lineMode{
	background-position: -35px -2px;
}
.ZSYFCEditor-btnbar span.btn.polylineMode{
	background-position: -116px -2px;
}
.ZSYFCEditor-btnbar span.btn:hover,
.ZSYFCEditor-btnbar span.btn.active{
	background-color: #ebebeb;
	border-color: #adadad;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);	
}

/* editor */
svg.ZSYFCEditor{
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
}
svg.ZSYFCEditor path{
	fill: none;
	stroke: #efefef;
	stroke-width: .5px;
}
svg.ZSYFCEditor path.node_link{
	stroke: green; 
	stroke-width: 1px; 
	fill: none;
	marker-end: url(#ZSYFCEditor_MarkerArrow);
}
svg.ZSYFCEditor path.link_drag_helper{
	stroke: rgb(255, 100, 100); 
	visibility: hidden;
 	stroke-dasharray: 5,5; 
	marker-end: url(#ZSYFCEditor_MarkerArrow);
}
svg.ZSYFCEditor path.link_drag_helper.on{
	visibility: visible; 
}
svg.ZSYFCEditor .element{
	fill: #efefef;
	stroke: #000;
	stroke-opacity: 0.5;
}  
svg.ZSYFCEditor .element.current{
	fill: #0066ff;
}

svg.ZSYFCEditor .element .helper{
	width: 6px;
	height: 6px;
	fill: #000;
	opacity: 0.5;
	visibility: hidden;
}

svg.ZSYFCEditor .element text.title{
	text-anchor: middle;
	font-size: 12px;
}

svg.ZSYFCEditor .element .remove{ 
	visibility: hidden;  
}
svg.ZSYFCEditor .element .remove line{
	stroke: red;
	stroke-width: 3px;
}
/*
svg.ZSYFCEditor .element:hover .helper{
	visibility: visible;
}
*/
svg.ZSYFCEditor .element.current .remove
/*,svg.ZSYFCEditor .element.current .helper*/{
	visibility: visible;
}